VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

VITE_STRIPE_PUBLIC_KEY=YOUR_STRIPE_PUBLIC_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY

# Optional: Provide the Price IDs for the monthly and yearly subscriptions
VITE_STRIPE_MONTHLY_PRICE_ID=YOUR_MONTHLY_PRICE_ID
VITE_STRIPE_YEARLY_PRICE_ID=YOUR_YEARLY_PRICE_ID

# Optional: Set this up when we configure webhooks
STRIPE_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET
